# Build outputs
node_modules/
target/
bin/
obj/
dist/
out/
build/

# Python
__pycache__/
*.pyc
*.pyo
.venv/
*.egg-info/

# Java
*.class
*.jar
*.pdb

# .NET
*.user
*.suo
.vs/

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/

# Logs
*.log
npm-debug.log*
